
.DS_Store
.httr-oauth
.Rapp.history
.RData
.Renviron
.Rhistory
.Rproj.user
.Rproj.user/
.Ruserdata
*_cache/
*-Ex.R
*.html
*.knit.md
*.Rproj
*.utf8.md
/*.Rcheck/
/*.tar.gz
/cache/
# big files
# Example code in package build process
# History files
# knitr and R markdown default cache directories
# Mac OS
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
# Output files from R CMD build
# Output files from R CMD check
# pkgdown
# produced vignettes
# R Environment Variables
# RStudio files
# Session Data files
# Temporary files created by R markdown
# User-specific files
docs
inst/extdata/gmu8-monitoring-faunabeheerzone-8-20210908082146
vignettes/*.html
vignettes/*.pdf
